{% extends "tester/base.html" %}
{% block content %}
{% for setting in settings %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'job-setting-update' setting.pk %}">{{ setting.pk }}</a>
      <small class="text-muted">{{ setting.update_time|date:"Y-m-d" }}</small>
    </div>
    <h2>
      <a class="article-title" href="{% url 'job-setting-update' setting.pk %}">{{ setting.alias }}</a>
      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'job-setting-delete' setting.pk %}">Delete</a>
      <a class="btn btn-normal btn-sm mt-1 mb-1" href="{% url 'job-setting-duplicate' setting.pk %}">Duplicate</a>
    </h2>
    
  </div>
</article>
{% endfor %}
{% endblock content %}